<div class="mainContainer3">
    <nav class="navbar navbar-light bg-light loginNavbar">
        <a class="navbar-brand navTop">
            <img src="images/logo1.png" class="navLogo d-inline-block align-top" alt="">
            <span class="navbarTitle">iFeed</span>
        </a>
    </nav>
    
    <div class="errors">
        {{#if errors}}
        {{#each errors}}
            <div class="animated fadeOut message">
                {{msg}}            
                <a href="#close" class="icon-remove"></a>
            </div>
        {{/each}}
        {{/if}}

        {{#if success_msg}}
            <div class="animated fadeOut message">
                {{success_msg}}
            </div>
        {{/if}}

        {{#if error_msg}}
            <div class="animated fadeOut message">
                {{error_msg}}
            </div>
        {{/if}}

        {{#if error}}
            <div class="animated fadeOut message">
                {{error}}
            </div>
        {{/if}}
    </div>

    <div class="profileContainer">
        <form action="/postUserRegister" method="post">
            <span class="loginHeading">iFeed Registration Form</span>
            
            <div class="form-group emailForm">
               <label for="exampleInputEmail1" class="label">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" name="email" value={{email}} aria-describedby="emailHelp" placeholder="Enter email" readonly>
            </div>
            <div class="form-group">
               <label for="exampleInputUsername" class="label">Username</label>
               <input type="text" class="form-control" id="exampleInputUsername" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
               <label for="exampleInputRollno" class="label">Roll No.</label>
               <input type="text" class="form-control" id="exampleInputRollno" name="rollno" placeholder="Enter Roll No.">
            </div>
            <div class="form-group">
               <label for="exampleInputBranch" class="label">Branch</label>
               <input type="text" class="form-control" id="exampleInputBranch" name="branch" placeholder="Enter Branch">
            </div>
            <button type="submit" id="SubmitBtn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>